html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
@font-face {
  font-family: montserrat-regular;
  font-display: swap;
  font-weight: "400";
  src: url(../fonts/montserrat-regular.woff) format("woff"),url(../fonts/montserrat-regular.woff2) format("woff2")
}
@font-face {
  font-family: montserrat-bold;
  font-display: swap;
  font-weight: "700";
  src: url(../fonts/montserrat-bold.woff) format("woff"),url(../fonts/montserrat-bold.woff2) format("woff2")
}
html {
  height: 100%
}
*,
:after,
:before {
  box-sizing: border-box
}
img {
  max-width: 100%;
  height: auto
}
a {
  color: inherit
}
p {
  margin: 0 0 20px
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 22px;
  font-family: montserrat-regular,Arial,Helvetica,sans-serif;
  color: #000;
  margin: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
input[type=email]::-ms-clear,
input[type=password]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0
}
input[type=email]::-ms-reveal,
input[type=password]::-ms-reveal,
input[type=tel]::-ms-reveal,
input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0
}
.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto
}
@media only screen and (max-width:767px) {
  .container {
    padding: 0 20px
  }
}
@media only screen and (max-width:767px) {
  .container--mobile {
    max-width: 400px
  }
}
.favorites {
  position: relative;
  width: 46px;
  height: 46px
}
.favorites__input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.favorites__label {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/favorites.svg) no-repeat center;
  opacity: .5
}
.favorites__input:hover + .favorites__label {
  opacity: .7
}
.favorites__input:checked + .favorites__label {
  opacity: 1
}
.favorites__notification {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  font-size: 12px;
  line-height: 15px;
  color: #fff
}
.menu__list {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}
@media only screen and (max-width:767px) {
  .menu__list {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
}
.menu__item {
  list-style: none;
  margin-right: 62px
}
.menu__item:last-child {
  margin-right: 0
}
@media only screen and (max-width:1023px) {
  .menu__item {
    margin-right: 35px
  }
}
@media only screen and (max-width:767px) {
  .menu__item {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center
  }
}
.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none
}
.menu__link:hover {
  text-decoration: underline
}
.menu__link:active {
  opacity: .7
}
@media only screen and (max-width:767px) {
  .menu__link {
    color: #000;
    font-size: 20px;
    line-height: 30px
  }
}
.contacts {
  text-align: right
}
.contacts__tel {
  color: #fff;
  text-decoration: none;
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center
}
.contacts__tel:hover {
  opacity: .7
}
@media only screen and (max-width:1023px) {
  .contacts__tel {
    font-size: 20px;
    line-height: 25px
  }
}
.contacts__text {
  margin: 0;
  margin-top: 5px;
  color: #fff;
  font-size: 18px;
  line-height: 22px
}
.header {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: url(../images/header-bg.jpg) no-repeat center top/cover;
  min-height: 252px;
  padding: 25px 0 30px
}
@media only screen and (max-width:767px) {
  .header {
    min-height: 0;
    padding: 15px 0 35px
  }
}
.header__panel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 36px
}
@media only screen and (max-width:767px) {
  .header__panel {
    margin-bottom: 25px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
.header__logo {
  margin-right: 120px;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}
.header__logo:hover {
  opacity: .7
}
@media only screen and (max-width:1023px) {
  .header__logo {
    margin-right: 40px
  }
}
@media only screen and (max-width:767px) {
  .header__logo {
    width: 50px
  }
}
.header__logo-img {
  display: block
}
.header__menu {
  margin-right: 30px
}
@media only screen and (max-width:1023px) {
  .header__menu {
    margin-right: 20px
  }
}
@media only screen and (max-width:767px) {
  .header__menu {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    padding-top: 100px;
    display: none
  }
}
@media only screen and (max-width:767px) {
  .header__menu--active {
    display: block
  }
}
.header__menu-btn {
  position: relative;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none
}
.header__menu-btn::after,
.header__menu-btn::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 2px;
  margin-top: -4px
}
.header__menu-btn::after {
  margin-top: 4px
}
@media only screen and (max-width:767px) {
  .header__menu-btn {
    display: block;
    margin-left: auto
  }
}
.header__menu-btn--active::after,
.header__menu-btn--active::before {
  background: #000;
  z-index: 1500
}
.header__menu-btn--active::after {
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
  margin: 0
}
.header__menu-btn--active::before {
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
  margin: 0
}
.header__contacts {
  margin-left: auto;
  padding-top: 19px
}
@media only screen and (max-width:1023px) {
  .header__contacts {
    padding-top: 26px
  }
}
@media only screen and (max-width:767px) {
  .header__contacts {
    display: none
  }
}
.header__result {
  margin: 0;
  color: #fff;
  font-size: 38px;
  line-height: 46px;
  font-family: montserrat-bold,Arial,Helvetica,sans-serif
}
@media only screen and (max-width:767px) {
  .header__result {
    font-size: 26px;
    line-height: 34px
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 83px
}
@media only screen and (max-width:767px) {
  .main {
    padding-bottom: 40px
  }
}
.main__container {
  position: relative
}
.filters {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 0
}
@media only screen and (max-width:767px) {
  .filters {
    display: block
  }
}
.filters__title {
  margin: 0;
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-right: 49px
}
@media only screen and (max-width:767px) {
  .filters__title {
    margin-right: 0;
    margin-bottom: 20px
  }
}
.filters__link {
  position: relative;
  color: #000;
  text-decoration: none;
  padding-right: 29px;
  margin-right: 55px
}
.filters__link:hover {
  color: #6ebbd3
}
.filters__link:active {
  opacity: .7
}
.filters__link:last-child {
  margin-right: 0
}
.filters__link:after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/arrow-down.svg) no-repeat center;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  transition: .2s
}
.filters__link-price--down:after {
  -webkit-transform: translate(0,-50%) rotate(180deg);
  transform: translate(0,-50%) rotate(180deg)
}
.filters__link-age--down:after {
  -webkit-transform: translate(0,-50%) rotate(180deg);
  transform: translate(0,-50%) rotate(180deg)
}
.card {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f3f3f3;
  border-radius: 0 0 11px 11px
}
.card__img {
  display: block;
  width: 100%;
  margin-bottom: 29px
}
.card__favorites {
  position: absolute;
  right: 32px;
  top: 33px
}
.card__sale {
  margin: 0;
  position: absolute;
  top: 34px;
  left: 38px;
  border-radius: 10px;
  background: #e62d2d;
  min-width: 78px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 10px
}
.card__content {
  padding: 0 29px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
@media only screen and (max-width:1023px) {
  .card__content {
    padding: 0 20px
  }
}
.card__title {
  margin: 0;
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 22px
}
.card__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px
}
.card__color {
  position: relative;
  margin: 0;
  padding-left: 22px;
  font-size: 12px;
  line-height: 15px;
  max-width: 105px;
  margin-right: 25px
}
.card__color:before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  background: #6ebbd3;
  left: 0;
  top: 1px;
  bottom: 7px
}
@media only screen and (max-width:767px) {
  .card__color {
    padding-left: 15px
  }
}
.card__age {
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-right: 46px
}
@media only screen and (max-width:767px) {
  .card__age {
    font-size: 15px;
    line-height: 18px;
    margin-right: 30px
  }
}
.card__age-text {
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-family: montserrat-regular,Arial,Helvetica,sans-serif
}
.card__properties {
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0
}
@media only screen and (max-width:767px) {
  .card__properties {
    font-size: 15px;
    line-height: 18px
  }
}
.card__properties-text {
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-family: montserrat-regular,Arial,Helvetica,sans-serif
}
.card__price {
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 28px
}
.card__btn {
  display: block;
  background: #6ebbd3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 22px;
  border-radius: 0 0 10px 10px
}
.card__btn:hover {
  background: rgba(110,187,211,.8)
}
.card__btn:active {
  background: rgba(110,187,211,.5)
}
.card__btn--dark {
  background: #1f2021
}
.card__btn--dark:hover {
  background: rgba(31,32,33,.8)
}
.card__btn--dark:active {
  background: rgba(31,32,33,.5)
}
.cards {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 37px
}
.cards__item {
  width: calc(33.33% - 20px);
  margin: 0 10px 27px
}
@media only screen and (max-width:1199px) {
  .cards__item {
    width: calc(50% - 20px)
  }
}
@media only screen and (max-width:767px) {
  .cards__item {
    width: calc(100% - 20px);
    margin-bottom: 20px
  }
  .cards__item:last-child {
    margin-bottom: 0
  }
}
.showmore {
  display: block;
  width: 380px;
  margin: 0 auto;
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #cacaca
}
.showmore:hover {
  background: #f3f3f3
}
.showmore:active {
  background: rgba(243,243,243,.5)
}
@media only screen and (max-width:767px) {
  .showmore {
    width: 300px
  }
}
.subscribe {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 82px 80px 92px;
  background: #1f2021
}
@media only screen and (max-width:1199px) {
  .subscribe {
    padding: 50px
  }
}
@media only screen and (max-width:1023px) {
  .subscribe {
    display: block;
    padding: 30px
  }
}
.subscribe__content {
  margin-right: 50px
}
@media only screen and (max-width:1023px) {
  .subscribe__content {
    margin-right: 0;
    margin-bottom: 30px
  }
}
.subscribe__form {
  max-width: 566px;
  width: 100%;
  padding-top: 7px
}
@media only screen and (max-width:1023px) {
  .subscribe__form {
    padding-top: 0
  }
}
.subscribe__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px
}
@media only screen and (max-width:767px) {
  .subscribe__container {
    display: block
  }
}
.subscribe__title {
  margin: 0;
  margin-bottom: 26px;
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 48px;
  line-height: 59px;
  color: #fff
}
@media only screen and (max-width:1023px) {
  .subscribe__title {
    font-size: 38px;
    line-height: 49px;
    margin-bottom: 20px
  }
}
@media only screen and (max-width:767px) {
  .subscribe__title {
    font-size: 30px;
    line-height: 41px
  }
}
.subscribe__text {
  margin: 0;
  font-size: 28px;
  line-height: 26px;
  color: #fff;
  font-family: montserrat-regular,Arial,Helvetica,sans-serif
}
@media only screen and (max-width:1023px) {
  .subscribe__text {
    font-size: 22px;
    line-height: 20px
  }
}
.subscribe__input {
  padding: 0;
  margin: 0;
  border: 0;
  padding: 10px 10px 10px 33px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  height: 65px;
  font-size: 14px;
  line-height: 17px;
  margin-right: 16px
}
.subscribe__input:hover {
  background: #e4e4e4
}
@media only screen and (max-width:767px) {
  .subscribe__input {
    margin-right: 0;
    margin-bottom: 20px
  }
}
.subscribe__btn {
  padding: 0;
  border: 0;
  font: inherit;
  color: #fff;
  background-color: #6ebbd3;
  font-family: montserrat-bold,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 65px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px
}
.subscribe__btn:hover {
  background: rgba(110,187,211,.8)
}
.subscribe__btn:active {
  background: rgba(110,187,211,.5)
}
@media only screen and (max-width:767px) {
  .subscribe__btn {
    width: 100%
  }
}
.checkbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative
}
.checkbox__label {
  display: block;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-family: montserrat-regular,Arial,Helvetica,sans-serif;
  text-transform: initial;
  padding-left: 37px
}
.checkbox__label:hover {
  opacity: .9
}
.checkbox__label::before {
  position: absolute;
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background: #6ebbd3;
  border-radius: 3px
}
.checkbox__label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 7px;
  left: 4px;
  top: 5px;
  z-index: 3;
  background: url(../images/checkbox.svg) no-repeat center;
  opacity: 0
}
.checkbox__input {
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px
}
.checkbox__input:checked + .checkbox__label::after {
  opacity: 1
}
.scrollup {
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: #6ebbd3 url(../images/arrow-up.svg) no-repeat center;
  cursor: pointer;
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  bottom: -32px;
  right: 30px
}
.scrollup:hover {
  background-color: rgba(110,187,211,.8)
}
.scrollup:active {
  background-color: rgba(110,187,211,.5)
}
@media only screen and (max-width:767px) {
  .scrollup {
    display: none
  }
}
.footer {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding-bottom: 114px
}
@media only screen and (max-width:1199px) {
  .footer {
    padding-bottom: 80px
  }
}
@media only screen and (max-width:767px) {
  .footer {
    padding-bottom: 40px
  }
}
/*# sourceMappingURL=maps/main.css.map */
