footer.footer
    .container.container--mobile
        .subscribe 
            .subscribe__content 
                h2.subscribe__title Успей купить!
                p.subscribe__text Подпишись и успей словить все акции
            form.subscribe__form(action="")
                .subscribe__container
                    input.subscribe__input(type="email" placeholder="Email" required)
                    button.subscribe__btn(type="submit") Подписаться
                .checkbox
                    input.checkbox__input(type="checkbox" id="subscribeCheckbox")
                    label.checkbox__label(for="subscribeCheckbox") Подписаться на новости
