header.header
    .container
        .header__panel
            a.header__logo(href="#!")
                img.header__logo-img(src="images/logo.svg" alt="Логотип" width="78" height="78")
            button.header__menu-btn(type="button" aria-label="Открыть меню")
            nav.menu.header__menu
                ul.menu__list 
                    li.menu__item 
                        a.menu__link(href="#!") Main
                    li.menu__item 
                        a.menu__link(href="#!") Gallery
                    li.menu__item 
                        a.menu__link(href="#!") News
                    li.menu__item 
                        a.menu__link(href="#!") Profile
            .contacts.header__contacts
                a.contacts__tel(href="tel:+544349000000") +544&nbsp;3490&nbsp;00000
                p.contacts__text Звони скорее!
        p.header__result Найдено 349 котов


